:root {
  --color-primary: #f7ac68;
  --color-secondary: #e28743;
  --color-black: #222222;
  --color-white: #ffffff;
  --color-black-hover: #5a5a5a;
  --color-white-darker: #f8f2e8;
  --color-blue: #0D98BA;
  --color-blue-darker: #0a82a0;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--color-white-darker);
  max-width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

*::before *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1458px;
  margin: 0 auto;
  padding: 0 15px;
}

.all-button {
  color: var(--color-white-darker);
  background: var(--color-primary);
  border: unset;
  border-radius: 50px;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  padding: 16px 32px;
  transition: 0.3s;
  font-family: "Ubuntu", sans-serif;
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

.all-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--color-secondary);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.all-button:hover {
  color: var(--color-white-darker);
}

.all-button:hover::before {
  width: 100%;
}




.floating-btn {
  align-items: center;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 90px;
  height: 90px;
  z-index: 9999;
}


/*               *\
       Header
\*               */

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: rgba(255, 247, 232, 0.5);
  top: 0;
  left: 0;
  z-index: 3;
  transition: box-shadow 0.3s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header_mini {
  box-shadow: 0px 4px 5px 0px rgba(129, 129, 129, 0.4);
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-nav {
  display: flex;
  margin-left: 50px;
  gap: 60px;
}

.header-logo {
  display: block;
  color: var(--color-black);
  font-weight: 800;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.header-logo:focus,
.header-logo:hover {
  color: var(--color-black-hover);
}

.header-logo:focus:after,
.header-logo:hover:after {
  width: 100%;
  left: 0%;
}

.header-logo:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-black-hover);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.header-adress {
  display: block;
  color: var(--color-black);
  font-weight: 500;
  font-size: 20px;
  /* padding-top: 24px ; */
  line-height: 1.5;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.header-adress:focus,
.header-adress:hover {
  color: var(--color-black-hover);
}

.header-adress:focus:after,
.header-adress:hover:after {
  width: 100%;
  left: 0%;
}

.header-adress:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-black-hover);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/*               *\
        Main
\*               */

.main-section {
  height: 569px;
  text-align: right;
  padding: 188px 0;
  background-image: url(../images/girl-resting.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 5px 0px rgba(129, 129, 129, 0.4);
}

.main-title {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1500px;
  color: var(--color-black);
  font-size: calc(30px + (72 - 30) * ((100vw) / (1600 - 300)));
  font-weight: 700;
  line-height: 1.07;
}

.main-text {
  margin: 0 auto 50px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-black);
}

.main-button {
  font-weight: 600;
  font-size: 25px;
  width: 250px;
  height: 80px;
}

.main-button:hover {
  background: var(--color-secondary);
  cursor: pointer;
}

.phrase{
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  margin-right: 35px;
}

/*               *\
      servises
\*               */

.service-title {
  color: var(--color-black);
  font-size: calc(25px + (60 - 25) * ((100vw) / (1600 - 300)));
  font-weight: 700;
  line-height: 1.07;
}

.services {
  text-align: center;
  padding: 70px 20px 0px 20px;
}

.services-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  flex-basis: 100%;
  flex: 1 1 250px;

  background-color: var(--color-black);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08),
    inset 0 0px 50px rgba(255, 255, 255, 0.356);
  border-radius: 12px;
}

.services-icons {
  width: 100px;
  fill: var(--color-white-darker);
  padding: 1rem;
}

.services-icon-block {
  display: flex;
  align-items: center;
}

.text-services {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.07;
  transition: 0.3s;
}

.text-services:hover {
  color: var(--color-white-darker);
}

.services-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  border-radius: 20px;
  flex-wrap: wrap;
}

.services-subtitle {
  font-weight: 400;
  font-size: 18px;
  margin-top: 0;
  color: var(--color-white-darker);
}

.services-card-info {
  background-color: rgba(100, 100, 100, 0.4);

  max-width: 80%;
  border-radius: 12px;
}
.servises-info {
  color: var(--color-white-darker);
  padding: 10px;
}

.services-btn {
  font-weight: 800;
  padding: 15px 25px;
  background-color: var(--color-white-darker);
  color: var(--color-black);
}

.services-btn::before {
  background-color: rgb(133, 133, 133);
}

/*                     *\
        About-us
\*                     */

.about-us {
  padding: 70px 0 120px 0;
}

.about-us-header-title {
  text-align: right;
  color: var(--color-secondary);  
}

.about-us-content {
  max-width: 100%;
  height: 420px;
  background: linear-gradient(
    135deg,
    rgb(255, 163, 44),
    var(--color-secondary)
  );
  background-color: #cbbeac;
  border-radius: 12px;
  box-shadow: 0px 1px 10px #cbbeac;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-container {
  padding: 20px;
  padding-left: 100px;
  text-align: center;
}

@media (max-width: 650px) {
  .info-container {
    padding: 20px;
  }
}

.about-us-photo {
  position: relative;
  max-width: 318px;
  border-radius: 6px;
  z-index: 2;
  pointer-events: none;
}

.about-us-box-title {
  color: var(--color-white-darker);
  font-size: calc(18px + (40 - 18) * ((100vw) / (1600 - 300)));
  margin: 0;
}
.about-us-box-text {
  color: var(--color-white-darker);
  font-size: calc(12px + (18 - 12) * ((100vw) / (1600 - 300)));

}

.photo-container {
  position: relative;
}

@media (max-width: 650px) {
  .photo-container {
    display: none;
  }
}

.icon {
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 30px;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon:hover span,
.icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.facebook:hover,
.facebook:hover .tooltip,
.facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

/*                     *\
      Contact form
\*                     */

.contact-form {
  box-shadow: 0px -4px 5px 0px rgba(129, 129, 129, 0.4);
  padding: 100px 0;
}

.contact-title {
  margin: 0 auto;
  max-width: 1500px;
  color: var(--color-white-darker);
  font-size: calc(25px + (70 - 25) * ((100vw) / (1600 - 300)));
  font-weight: 700;
  line-height: 1.07;
}


.contact-text {
  color: var(--color-white-darker);
  font-size: calc(12px + (16 - 12) * ((100vw) / (1600 - 300)));
  margin: 20px 20% 0 20%;
}

.contact-info {
  text-align: center;
  max-width: 50%;
  align-self: center;
  flex: 1 1 250px;
}
.row {
  background-color: var(--color-black);
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  box-shadow: inset 5px 10px 100px rgba(255, 255, 255, 0.356);
}

.row .form {
  display: flex;
  flex-direction: column;
  
  flex: 1 1 250px;
  gap: 20px;
}

.row .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.row .form-group .contact-label {
  display: block;
  margin-bottom: 0px;
  color: var(--color-white-darker);
  font-weight: 600;
  font-size: 15px;
}

.row .form-group .box {
  width: 90%;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--color-white-darker);
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  transition: 0.3s;
}

.row .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.row .form-group .box::placeholder {
  opacity: 0.5;
}

.row .form-group .box:focus {
  outline: none;
  border-color: var(--color-secondary);
}

.row .form-group .box:hover {
  outline: none;
  border-color: var(--color-secondary);
}

.form-btn {
  font-weight: 600;
  width: 40%;
  background-color: var(--color-white-darker);
  color: var(--color-black);
}

.form-btn::before {
  background-color: rgb(133, 133, 133);
}
