:root {
  --color-primary: #f7ac68;
  --color-secondary: #e28743;
  --color-black: #222222;
  --color-white: #ffffff;
  --color-black-hover: #5a5a5a;
  --color-white-darker: #f8f2e8;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--color-white-darker);
}

html,
body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

*::before *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1458px;
  margin: 0 auto;
  padding: 0 15px;
}

.all-button {
  color: var(--color-white-darker);
  background: var(--color-primary);
  border: unset;
  border-radius: 50px;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  padding: 16px 32px;
  transition: 0.3s;
  font-family: "Ubuntu", sans-serif;
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

.all-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--color-secondary);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.all-button:hover {
  color: var(--color-white-darker);
}

.all-button:hover::before {
  width: 100%;
}

/*               *\
       Header
\*               */

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: rgba(255, 247, 232, 0.5);
  top: 0;
  left: 0;
  z-index: 3;
  transition: box-shadow 0.3s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header_mini {
  box-shadow: 0px 4px 5px 0px rgba(129, 129, 129, 0.4);
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-nav {
  display: flex;
  margin-left: 50px;
  gap: 60px;
}

.header-logo {
  display: block;
  color: var(--color-black);
  font-weight: 800;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.header-logo:focus,
.header-logo:hover {
  color: var(--color-black-hover);
}

.header-logo:focus:after,
.header-logo:hover:after {
  width: 100%;
  left: 0%;
}

.header-logo:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-black-hover);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}



.header-adress {
  display: block;
  color: var(--color-black);
  font-weight: 500;
  font-size: 20px;
  /* padding-top: 24px ; */
  line-height: 1.5;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.header-adress:focus,
.header-adress:hover {
  color: var(--color-black-hover);
}

.header-adress:focus:after,
.header-adress:hover:after {
  width: 100%;
  left: 0%;
}

.header-adress:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-black-hover);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/*               *\
        Main
\*               */



.main-section {
  height: 569px;
  text-align: right;
  padding: 188px 0;
  background-image: url(../images/girl-resting.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 5px 0px rgba(129, 129, 129, 0.4);
}

.main-title {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1500px;
  color: var(--color-black);
  font-size: calc(30px + (72 - 30) * ((100vw) / (1600 - 300)));
  font-weight: 700;
  line-height: 1.07;
}

.main-text {
  margin: 0 auto 50px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-black);
}

.main-button {
  font-weight: 600;
  font-size: 25px;
  width: 250px;
  height: 80px;
}

.main-button:hover {
  background: var(--color-secondary);
  cursor: pointer;
}

/*               *\
      servises
\*               */

.service-title {
  color: var(--color-black);
  font-size: calc(25px + (60 - 25) * ((100vw) / (1600 - 300)));
  font-weight: 700;
  line-height: 1.07;
}

.services {
  text-align: center;
  padding: 70px 0 70px 0;
}



.services-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-height: 120px;
  flex-basis: 100%;
  
  background-color: var(--color-white-darker);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px ;
}



.text-services {
  color: var(--color-white-darker);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.07;
  transition: .3s;
}




.services-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  flex-direction: column;
  border-radius: 20px;
}

.services-subtitle {
  font-weight: 400;
  font-size: 18px;
  margin-top: 0;
}


.services-card-info {
  background-color: rgba(255, 190, 115, 0.4);
  
  max-width: 80%;
  border-radius: 4px ;
}

/* .image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: block;
  max-width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.image-container .services-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}*/

/*                     *\
      Contact form
\*                     */

.contact-form {
  box-shadow: 0px -4px 5px 0px rgba(129, 129, 129, 0.4);
  padding: 100px 0;
}

.contact-title {
  margin: 0 auto;
  max-width: 1500px;
  color: var(--color-white-darker);
  font-size: calc(25px + (70 - 25) * ((100vw) / (1600 - 300)));
  font-weight: 700;
  line-height: 1.07;
}

.contact-text {
  color: var(--color-white-darker);
  font-size: calc(12px + (16 - 12) * ((100vw) / (1600 - 300)));
  
}

.contact-info {
  text-align: center;
  max-width: 50%;
}
.row {
  background-color: var(--color-black);
  border-radius: 12px;  
  display: flex;
  gap: 20px;
  padding: 50px;
  box-shadow: inset 0 0px 100px rgba(255, 255, 255, 0.356);
}

.row .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.row .form-group .contact-label {
  display: block;
  margin-bottom: 0px;
  color: var(--color-white-darker);
  font-weight: 600;
  font-size: 15px;
}

.row .form-group .box {
  width: 200%;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--color-white-darker);
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.row .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.row .form-group .box::placeholder {
  opacity: 0.5;
}

.row .form-group .box:focus {
  outline: none;
  border-color: var(--color-secondary);
}

.form-btn {
  font-weight: 600;
  background-color: var(--color-white-darker);
  color: var(--color-black);
}

.form-btn::before {
  background-color: rgb(133, 133, 133);
}
